.header {
  background-image: url("../assets/images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  &__logo {
    margin-top: 12.3rem;
  }

  .text-box {
    margin-top: 6.4rem;
  }

  .btn-box {
    margin-top: 4.8rem;
  }

  @include respond(tab-port) {
    background-image: url("../assets/images/bg-header-desktop.png");
    background-position: top 0.3rem right 0.1rem;
    background-size: contain;
  }

  @include respond(tab-land) {
    &__logo {
      margin-top: 13.1rem;
    }

    .text-box {
      margin-top: 5.6rem;
    }
  }
}
