.btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 47rem;
  margin-inline: auto;
  row-gap: 2.4rem;

  @include respond(tab-port) {
    flex-direction: row;
    row-gap: 0;
    column-gap: 1.6rem;
  }
}
